* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: purple;

}

.bg {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 400px;
    padding: 10px 15px;
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.text {
    width: 100%;
    text-align: center;

}

.text h2 {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 2px;
}

.text p {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 300;

}

input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: transparent;
    border-bottom: 2px solid purple;
    transition: 0.3s ease;
}

input:focus {
    border: 2px solid purple;
}

.btn-qr {
    width: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.btn-qr button {
    width: 100%;
    padding: 10px;
    background: rgb(92, 0, 92);
    color: white;
    font-size: 18px;
    border: transparent;
    letter-spacing: 1.8px;
    font-weight: 600;
}

.btn-qr img {
    transition: 1s;
    height: 0;
}

#btn2 {
    transition: 1s;
    display: none;
}

.show {
    height: 100px !important;

}


@media screen and (max-width:430px) {
    .main {
        width: 300px;
    }

    .text h2 {
        font-size: 20px;

    }

    .text p {
        font-size: 15px;


    }
}