* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1c1c1c;
    color: #fff;
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

#card-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

/* .card {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #393636;
    border-radius: 10px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.card-selected {
    border: 2px solid yellow;
}


.match {
    border: 2px solid red;
} */

.card {
    position: relative;
    transition: all .6s ease;
    transform-style: preserve-3d;
    padding: 10px;
}

.card,
.front,
.back {
    width: 70px;
    height: 70px;
}


.front,
.back {
    position: absolute;
    backface-visibility: hidden;
}

.front {
    background-color: yellow;
    background-size: contain;
    border-radius: 10px;
    padding: 10px;
    transition: all .6s ease;
}

.back {
    background: #fff;
    transform: rotateY(180deg);
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .6s ease;
    background-position: center;
    padding: 10px;
}

.card-selected {
    transform: rotateY(180deg);
}

.match .front {
    background: #000;
}